<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761043370682-tc0ovld4liajplobnh3c1ufcr1caf10e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761043370682-tc0ovld4liajplobnh3c1ufcr1caf10e</string>
	<key>API_KEY</key>
	<string>AIzaSyDCry507C1PhfEqYAsHzKFkKeP9ZXX6fpY</string>
	<key>GCM_SENDER_ID</key>
	<string>761043370682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kody.flutterIpssiChat</string>
	<key>PROJECT_ID</key>
	<string>flutteripssichat</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteripssichat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761043370682:ios:b462fdb07f892b89f1b883</string>
</dict>
</plist>